body {
    background-color: #485101; /* Specify your desired background color */
    background-image: url('resources/churn image.png'); /* Specify the URL of your desired background image */
    background-size: cover; /* Ensure the background image covers the entire page */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}
